* {
  margin: 0;
}

img {
  width: 10%;
  border-radius: 10px;
}

nav {
  background-color: antiquewhite;
  display: flex;
  flex: 20%;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 50px;
}

nav li {
  padding: 10px;
  font-size: 20px;
}
